<!DOCTYPE html>
<html>
    <head>
        <Title>ASCII Art Generator</Title>
    </head>
    <body>

        <h1>Welcome to my ASCII Art Generator</h1>

        <form action="/ascii-art" method="POST">
            <textarea type="text" placeholder="Enter your text here" maxlength="100"></textarea>
            <br><br>
            <select name="banner">
                <option value="">--Choose a Banner--</option>
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>

            </select> 

        </form>
    </body>
</html>