<!DOCTYPE html>
<html>
    <head>
        <title>My ASCII Art Generator</title>
    </head>
    <body>

        <h1>ASCII ART</h1>
        <p>Welcome! This program changes text to ASCII Art></p>


        <form action="/ascii" method="POST">
            <textarea type="text" name="text" placeholder="Input your text here" maxlength="100"></textarea>

            <br><br>

            <select name="banner">
                <option value="">--Choose a banner--</option>
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>

            <br><br>
            <button type="submit">Generate</button>

        </form>
         {{if .Result}}
        <pre> {{.Result}}</pre>
        <a href="/ascii?text={{.Text | urlquery}}&banner=standard">Standard</a>
        <a href="/ascii?text={{.Text | urlquery}}&banner=shadow">Shadow</a>
        <a href="/ascii?text={{.Text | urlquery}}&banner=thinkertoy">Thinkertoy</a>

        {{end}}
    </body>

</html>