<!DOCTYPE html>
		<html>
			<head>
			<title>Ascii Art Generator</title>
			</head>
			<body>

			<h1>ASCII Art </h1>
            			<p>Welcome! This tool converts text into ASCII art.</p>


<form action="/ascii-art" method="POST">
            <input type="text" name="text" placeholder="Enter your text here">

            <br><br>
            <input type="radio" name="banner" value="standard"> Standard
                        <input type="radio" name="banner" value="shadow"> Shadow
            <input type="radio" name="banner" value="thinkertoy"> Thinkertoy

            <br><br>
<button type="submit">Generate</button>
            </form>
			</body>
			</html>